.appbar-root {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  min-height: 64px;
}

.appbar-container {
  padding: calc(var(--spacing) * 0) calc(var(--spacing) * 2);
}

.appbar-logo {
  height: 48px;
  padding-right: 12px;
  will-change: filter;
  transition: filter 300ms;
}

.appbar-logo:hover {
  filter: drop-shadow(0 0 10px var(--primary-color));
}

.appbar-title {
  font-size: var(--subtitle-1-size);
  font-weight: var(--weight-bold);
  color: var(--typography-primary-color);
}

.appbar-link {
  color: var(--typography-primary-color);
  text-decoration: none;
}

.appbar-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

.appbar-link {
  color: var(--primary-color);
  text-decoration: underline;
}

.appbar-link:nth-child(n) {
  margin-left: calc(var(--spacing) * 1);
}
