#appbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

#appbar .logo {
  height: 64px;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

#appbar .logo:hover {
  filter: drop-shadow(0 0 10px var(--primary-color));
}
